@import '../../assets/styles/_colors.scss';


.first-return-from-playlist1 .delete-list-btn {
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 13px;
  overflow: visible;
  width: auto;
  text-align: left;
  background: none;
  margin: 0;
  border: none;
  color: $red;
  cursor: pointer;

}
