* {
  //border: 1px solid red;
}

main, header, footer, figcaption, section, div, ul, li, h2, h3, p, a {
  padding: 0;
  margin: 0;
  font-size: 100%;
  list-style: none;
  text-decoration: none;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

body {
  padding-top: 110px;
  padding-bottom: 70px;
}

// Topbar.js

.topnav {
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 64px;
  width: 100%;
  background: #2196F3;
  padding: 0 0 7.5px 10px;
}

.navlist {
  //display: flex;
  //align-items: center;
}

.nav-logo {
  font-size: 30px;
  color: #FFFFFF;
}

.navlist li {
  display: inline-block;
}

.navlist li span {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 20px;
  color: #FFFFFF;
}

.navlist a {
  font-family: 'Roboto-Regular', sans-serif;;
  font-size: 15px;
  color: #FFFFFF;
  padding: 23px 0 23px 0;
}

.selected {
  background: #1E88E5;
}

.navlist li:nth-child(1) {
  padding-right: 40px;
}

.navlist li:nth-child(2) {
  padding-right: 20px;
}

.navlist input {
  width: 330px;
  height: 25px;
  background: #1E88E5;
  border: 1px solid #D8D8D8;
  border-radius: 32px;
  padding-left: 32px;
  color: #FFFFFF;
}

.navlist input::placeholder {
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: 'Roboto-Light', sans-serif;;
  font-size: 14px;
  //padding-left: 32px;
}

.fa-search {
  font-size: 17px;
  color: #FFFFFF;
  //position: absolute;

}

.navlist button {
  font-family: 'Roboto-Light', sans-serif;;
  font-size: 15px;
  overflow: visible;
  width: auto;
  text-align: left;
  color: #FFFFFF;
  background: none;
  margin: 0;
  padding-left: 18.8px;
  border: none;
  cursor: pointer;
}

// Player.js

.playerfooter {
  flex: 3;
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  justify-content: flex-start;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background: #FBFBFB;
  padding-left: 30px;
}

img[alt="Song thumbnail"] {
  width: 50px;
  height: 50px;
}

p.playersongtitle {
  font-size: 11px;
  color: #4A4A4A;
}

.player-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.playerElm {
  //margin: 0 auto;
  display: flex;
  justify-content: center;
  //width: 100%;
}

// singin.js

.signin-logo {
  font-size: 100px;
  color: #2196F3;
}

.formgrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formgrid input {
  width: 416px;
  height: 48px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 100%, #2196F3 100%);
}

.formgrid form {
  width: 420px;
}

.formgrid h2 {
  font-size: 40px;
  color: #2196F3;
}

.formgrid h4 {
  font-size: 22px;
  color: #000000;
}

.formgrid label {
  display: block;
  color: #2196F3;
}

.formgrid button {
  display: block;
  background: #2196F3;
  color: #FFFFFF;
  border-radius: 2px;
  width: 87px;
  height: 30px;
  font-size: 13px;
  text-transform: uppercase;
}

// Genrebar.js

.genrediv {
  z-index: 50;
  flex: 1;
  position: fixed;
  top: 64px;
  left: 0;
  height: 40px;
  width: 100%;
  background: #DDE4E6;
  display: flex;
}

.genrebar {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  align-items: center
}

.genrebar li:first-child(1) {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 15px;
  color: #000000;
}

.genrebar li:not(:first-child) {
  font-family: 'Roboto-Light', sans-serif;
  font-size: 15px;
  color: #000000;
  padding-right: 40px;
}

// Explore.js card list

.first-div-return-from-explore-js {
  display: flex;
  min-height: 600px;
  flex-direction: column;
}

.explorediv {
  flex: 2;
}

.exploretitle {
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 23px;
  color: #000000;
  padding-left: 15px;
}

.explorelist {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  //height: 680px;

}

// Songcard.js

.cardunit {
  padding: 15px;
}

.songcard {
  position: relative;
  width: 220px;
  height: 140px;
  background: #FFFFFF;
  border: 1px solid #D8D8D8;
}

.songcard p {
  padding: 0 0 0 10px;
  //white-space: nowrap;
  //text-overflow: ellipsis;
  //overflow: hidden;
  //width: 210px;
}

.cardimage {
  background-position: center center;
  width: 200px;
  height: 85px;
  border: 1px solid #D8D8D8;
  display: block;
  margin: 10px 10px 7px 10px;
}

.cardtitle {
  font-family: 'Roboto-Regular', sans-serif;
  width: 200px;
  font-size: 0.69rem;
  color: #4A4A4A;
}

.cardduration {
  font-size: 0.63rem;
  color: #4A4A4A;
  line-height: 13px;
}

.cardheart {
  font-size: 14px;
  color: #D8D8D8;
  transition: all .2s ease-in-out;
}

.cardheart:hover {
  color: #2196F3;
  //transform: scale(1.00);
}

.songcard > .cardheart {
  position: absolute;
  bottom: 10px;
  right: 10px;

}

// Pagination.js

.prevpage,
.nextpage {
  display: inline-block;
  background: #2196F3;
  border-radius: 2px;
  width: 87px;
  height: 30px;
  border: none;
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 13px;
  color: #FFFFFF;
}

.paginationdiv {
  display: flex;
  width: 250px;
  height: 30px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

// loading state

.loading {
  font-size: 60px;
  color: #1E88E5;
  margin: 0 auto;
  //display: flex;
  //align-items: center;
}

// Playlists.js

.playlists {
  font-size: 120px;
  color: #2196F3;
}

.first-div-return-from-playlists {
  display: flex;

}

.playlists-body {
  //width: 80%;
  background: #FFFFFF;

}

.playlists-side-nav {
  width: 200px;
  background: #FFFFFF;
  box-shadow: inset -1px 0 0 0 #D8D8D8;
  margin-left: 20px;
  //border-right: 1px solid #D8D8D8;

}

.add-new-playlist {
  width: 180px;
  height: 75px;
  border-bottom: 1px solid #D8D8D8;

}

.playlist-header {
  width: 784px;
  height: 64px;
  background: #FFFFFF;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 2px 0 rgba(0,0,0,0.12);
  font-family: 'Roboto-Light', sans-serif;
  font-size: 22px;
  color: #000000;

}

.delete-list-btn {
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 13px;
  color: #F44336;
}

.add-new-playlist-btn {
  background: #2196F3;
  border-radius: 2px;
  width: 180px;
  height: 30px;
  margin: 0 auto;
  border: none;
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 13px;
  color: #FFFFFF;
}

.playlists-name-list {
  line-height: 2rem;
}
